<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            Technology has been my tool to manifest creativity. My areas of strength include assembling and managing top notch technical teams to build distributed systems - high availability, scalable and low latency. I consult with startups to help them build scalable infrastructure. I also work with corporates to train their employees on the latest technologies.
        </p>
    </div>
</div> <!-- / section -->
